/*  styles for the whole document */

* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background: #ddd url(../images/bg.jpg) repeat top left;
}

/* ------------------------ home page ------------------------ */
/* =========================================================== */

#front {
	padding-top: 10%;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 3;
	background: white;
}

.header {
	font-size: 7em;
	font-weight: 700;
	text-align: center;
}

.cursive {
	font-family: 'Gloria Hallelujah', cursive;
	color: red;
}

.sub-header {
	font-size: 0.9em;
	font-weight: 300;
	text-align: center;
	letter-spacing: 2px;
	padding: 0 0 3% 0;
	color: #3C3C3C;
}

form {
	width: 55% !important;
	margin: 0 auto;
}

/*#topics {
	width: 70%;
	margin: auto;
}*/

.select-style {
    padding: 0;
    width: 55%;
    height: 35px;
    margin: 0 auto;
    border: 1px solid #ccc; 
    border-radius: 3px;
    overflow: hidden;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 96% 50%;
    margin-bottom: 10px;
}

.select-style select {
    padding: 5px 8px;
    font-size: 0.9em;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

.button {
	width: 55%;
	margin-top: 5px;
	margin: 0 auto;
}

#submit {
	padding: 5px 3px 5px 3px;
}

/* ------------------------ results section ------------------------ */
/* =========================================================== */


#back {
	/*background: #f1f1f1;*/
	width:100%;
  	height: 100%;
  	position: fixed;
  	margin-top: 75px;
}

.transitioned {
	height: 55px !important;
	transition: 2s;
	-moz-transition: 2s;
	-webkit-transition: 2s;
	-o-transition: 2s;
}

.shadow {
	-webkit-box-shadow: 0 8px 6px -6px rgb(182, 182, 182);
	-moz-box-shadow: 0 8px 6px -6px rgb(182, 182, 182);
	box-shadow: 0 8px 6px -6px rgb(182, 182, 182);
}

.header-shrink {
	font-size: 2.5em;
	float:left;
	margin-left: 5%;
}

.form-inline {
	margin-top: 9px;
}

#content {
	margin-left: 10%;
	margin-right: 10%;
}

.title {
	text-align: center;
	font-weight: 700;
}

.part1, .part2, .part3, .part4, .part5 {
	margin-bottom: 15px;

}