<!DOCTYPE html>
<html>
    <head>
        <!-- files to be loaded first -->
        <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>TED 2.0</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/Bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/Bootstrap/css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/load.css') }}" />
        <script src="{{ url_for('static', filename='plugins/Bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ted.js') }}"></script>
        <script src="{{ url_for('static', filename='js/news.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dictionary.js') }}"></script>
        <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
        <script language="JavaScript" type="text/javascript" src="https://vhss-d.oddcast.com/vhost_embed_functions_v2.php?acc=4514086&js=1"></script>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>
